body {
  font-family: Helvetica, sans-serif;
}

.sideBar {
  background: #004080;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
}

.sidebar-links {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(240, 248, 255, 0.788);
  list-style: none;
  cursor: pointer;
  transition: 0.5s;
}

.sidebar-links:hover {
  color: #fff;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.social-net li {
  list-style: none;
  font-size: 35px;
  transition: 0.3s;
}

.social-net li:hover {
  color: #bd5d38;
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.job {
  text-transform: uppercase;
  color: #343a40;
}

.job-place {
  color: #055fb9;
  font-weight: 700;
}

.myWork {
  color: #bd5d38;
  cursor: pointer;
}
